extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")


block content
  h1.text-center Customer Shopping Cart page
  if isCartEmpty
    section.text-center
      h2 Your shopping cart is empty
      a(href="/products") Check products to shop
  else
    section
      h2 Shopping Cart
      p Total cart value: ₹#{cart.totalPrice}
      h3 Cart Items
      ul
        each item in cart.items
          li
            a(href=(`/products/${item.info.id}`)) #{item.info.title}
            | &nbsp;&nbsp;
            span Price: #{item.info.price.toFixed(2)}
            | &nbsp;&nbsp;
            span Quantity: #{item.qty}
