extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")


block content
  h1.text-center Customer Shopping Cart page
  if isCartEmpty
    section.text-center
      h2 Your shopping cart is empty
      a(href="/products") Check products to shop
  else
    section
      h2 Shopping Cart
      p Total cart value: ₹#{totalPrice}
      h3 Cart Items
      ul
        each prod in products
          li
            a(href=(`/products/${prod.id}`)) #{prod.title}
            | &nbsp;◆&nbsp;
            span Price: #{prod.price.toFixed(2)}
            | &nbsp;◆&nbsp;
            span Quantity: #{prod.cartItem.quantity}
            | &nbsp;◆&nbsp;
            form(action="/cart-delete-item", method="post")
              input(type="hidden", name="productId", value=(prod.id))
              button.btn(type="submit") Delete
